@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&family=Poppins:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

:root{
    --var-color1:#68c0c3;
    --color-card-dog:#abe0d3;
    --var-color3:#061d21;
    --var-color4:#727b7b;
    --var-color5:#e5e5e5;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

body{
    height: 100vh;
    width: 100vw;
    font-size: 15px;
}

/*-----------------------------MAIN PAGE-----------------------------------------------*/
.header__main{
    background-color:var(--var-color1);
    width: 100%;
    height: 90px;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    padding: 30px;
}

.nav__elements{
    display: flex;
    gap: 30px;
    flex-basis: 60%;
}

.nav__logo{ /*se le estan aplicando los estilos de la imagen*/
    width: 40px;
    height: 40px;
    /* background-color: red; */
}

.nav__li{
    list-style: none;
    text-transform: uppercase;
}

.nav__li__a{
    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1.3rem;
}

.main__section{
    background-color: antiquewhite;
    width: 100vw;
    height: 50vh;
    display: flex;
}

.main__photo{
    flex-basis: 50%;
    background-color: #727b7b;
    background-image: url("../img/dogsection.jpg");
    background-position: center;
    background-size: cover;
}

.main__title{
    flex-basis: 50%;
    background-color:var(--var-color5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2rem;
    padding: 10px;
}

.button__alldogs{
    width: 80%;
    background-color: var(--var-color3);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    align-self: center;
    letter-spacing: .2rem;
}

.a__showDogs{
    color: white;
    text-decoration: none;
}

.carrusel__title{
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: var(--var-color3);
}

/*AÑADIR BREAKPOINTS PARA HACERLO RESPONSIVE*/


/*-----------------------------------DOGS CARDS-------------------------------------------*/
#dogs{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 100%;
    padding: 20px;
} 

.dog{
    /* padding: 10px; */
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background-color: var(--color-card-dog);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    width:400px;
    height: 650px;
    border-radius: 10px;
}

.dog img{
    width: 100%;
    height:50%;
    object-fit:cover;
    object-position: 40% 10%;
    border-radius: 10px 10px 0 0;
}

.dog__photo{
    flex-basis: 70%;
    background-color: red;
}

.dog__info{
    flex-basis: 40%;
    /* background-color: blue; */
}

.dog p{
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.dog .name{
    padding-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .3rem;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

.info__description{
    margin-top: 5px;
    margin-bottom:10px;
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
}

.info__description p{
    margin-top: -10px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.info__description .info__p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/* #dogs img{
    width: 100%;
    display: block;
} */
/*---------------------------ADOPT PAGE HTML -----------------------------------------------------*/

.adopt{
    height: 60vh;
    width: 100vw;
    background-color: var(--var-color5);
}



.adopt__select{
    /* background-color: #727b7b; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.adopt__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.adopt__title{
    color:var(--var-color3);
    font-family: 'Poppins',sans-serif;
    font-size: 4rem;
    text-align: center;
}

.adopt__filter{
    /* background-color: #68c0c3; */
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1.4rem;
}

.filter__title{
    /* background-color: #68c0c3; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter__span{
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}


.dog__select{
    width: 250px;
    height: 50px;
    padding: 10px;
    background-color:var(--var-color1);
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight: 900;
    align-self: center;
}

.btns__container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn__container{
    /* background-color: #68c0c3; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn__filterAll{
    margin: 20px 0;
    background-color: var(--var-color4);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;

}
 
/*AÑADIR ESTILOS DE LAS OPCIONES, NO FUNCIONA, CREO QUE HAY QUE PONER CLASE A TODAS LAS ETIQUETAS OPTION*/
/*mirar en task una pagina que lo explica*/

.hide{
    display: none;
}

.show{
    display: block;
}