@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300;1,400&family=Poppins:wght@400;600;700&family=Raleway:wght@400;600;700&display=swap');

:root{
    --var-color1:#68c0c3;
    --color-card-dog:#abe0d3;
    --var-color3:#061d21;
    --var-color4:#727b7b;
    --var-color5:#e5e5e5;
    --yellow-color: #d4d926;
    --cyan-color:#6fc6a5;
    --blue-strong:#88d0c7;
    --blue-soft:#c7dedf;
    --grey-color:#929598;
    --brown-color:#b7a570;
    --blue-new:#555B6E;
    --green-new:#89B0AE;
    --green-light-new:#BEE3DB;
    --white-new:#FAF9F9;
    --orange-new:#FFD6BA;
}


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

body{
    height: 100vh;
    width: 100vw;
    font-size: 15px;
}

/*-----------------------------MAIN PAGE-----------------------------------------------*/
.header__main{
    background-color:var(--white-new);
    width: 100%;
    height: 100%;
}

.header__nav{
    /* background-color: #68c0c3; */
    height: 120px;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    /* background-color: yellow; */
    padding: 30px;
}

.nav__elements{
    display: flex;
    align-self: center;
    gap: 30px;
    /* flex-basis: 60%; */
}

.nav__logo{ /*se le estan aplicando los estilos de la imagen*/
    width: 40px;
    height: 40px;
    /* background-color: red; */
    align-self: center;
}

.nav__li{
    list-style: none;
    text-transform: uppercase;
}

.nav__li:hover{
    background-color: var(--green-new);
    padding: 7px;
    border-radius: 8px;
}

.nav__li__a{
    text-decoration: none;
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1.3rem;
}

.nav__li__a:hover{
    color: white;
}

.main__section{
    background-color: antiquewhite;
    width: 100vw;
    height: 50vh;
    display: flex;
}

.main__photo{
    flex-basis: 50%;
    background-color: #727b7b;
    background-image: url("../img/dogsection.jpg");
    background-position: center;
    background-size: cover;
}

.main__title{
    flex-basis: 50%;
    background-color:var(--green-new);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    color:white;
}

.title__container{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 2rem;
    /* background-color: #68c0c3; */
    width: 90%;
    line-height: 4.2rem;
    letter-spacing: .5rem;
}

.button__alldogs{
    width: 70%;
    background-color: var(--var-color5);
    padding: 20px;
    border: none;
    border-radius: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.23em;
    align-self: center;
    letter-spacing: .2rem;
    /* border: 3px solid black; */
    box-shadow: 20px black;
}

.a__showDogs{
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.carrusel__title{
    margin: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: var(--var-color3);
}

/*AÑADIR BREAKPOINTS PARA HACERLO RESPONSIVE*/


/*-----------------------------------DOGS CARDS-------------------------------------------*/
#dogs{
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, auto));
    grid-template-rows: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 50px;
    margin: 50px auto;
    max-width: 100%;
    padding: 20px;
} 

.dog{
    /* padding: 10px; */
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    background-color: var(--green-light-new);
    margin: 20px auto;
    display: flex;
    /* flex-direction: column; */
    width:500px;
    /* height: 500px; */
    border-radius: 10px;
    cursor: pointer;
   
}

.dog:hover{
    transform: scale(1.1);
}

.dog img{
    width: 100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    border-radius: 10px 0 0 10px;
}

.info{
    /* background-color: #68c0c3; */
    justify-content: flex-end;
}
.dog__photo{
    flex-basis: 50%;
    background-color: red;
}

.dog__info{
    /* background-color: #727b7b; */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.dog p{
    text-align: center;
    padding-top: 15px;
    font-size: 1.2rem;
    letter-spacing: .1rem;
}

.dog .name{
    /* padding-top: 15px; */
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .5rem;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
}

.info__description{
    margin-top: 5px;
    margin-bottom:10px;
    /* background-color: yellow; */
    
}

.info__description p{
    margin-top: -10px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}


.info__description .info__p{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

/* #dogs img{
    width: 100%;
    display: block;
} */
/*---------------------------ADOPT PAGE HTML -----------------------------------------------------*/

.adopt{
    height: 60vh;
    width: 100vw;
    background-color: var(--white-new);
    border-top: 4px solid var(--green-new);
    border-bottom:4px solid var(--green-new);
}



.adopt__select{
    /* background-color: #727b7b; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

.adopt__container{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 10px;
}

.adopt__title{
    color:var(--green-new);
    font-family: 'Poppins',sans-serif;
    font-size: 6rem;
    text-align: center;
    letter-spacing: 1rem;
}

.adopt__filter{
    /* background-color: #68c0c3; */
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 15px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    letter-spacing: .2rem;
    font-size: 1.4rem;
}

.adopt__filter button{
    /* border: 2px solid var(--var-color3);  */
    background-color: var(--yellow-color);
    /* background: none; */
    border: none;
    padding: 5px;
    width: 80px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: .8rem;
    color: var;
}

.adopt__filter button:hover{
    transform: scale(1.1);
}

.filter__title{
    /* background-color: #68c0c3; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter__span{
    font-size: 1.7rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}


.dog__select{
    width: 250px;
    height: 50px;
    padding: 10px;
    border: 4px solid var(--yellow-color);
    /* background-color:var(--green-new); */
    background: none;
    color: var(--var-color3);
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
    font-weight: 900;
    align-self: center;
}

.dog__select option{
    background-color: var(--yellow-color);
    
}

.btns__container{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn__container{
    /* background-color: #68c0c3; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn__filterAll{
    margin: 20px 0;
    /* border: 1px solid var(--var-color3); */
    border: none;
    background-color: var(--green-new);
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    height: 60px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
}

.btn__filterAll:hover{
    transform: scale(1.2);
}
 
/*AÑADIR ESTILOS DE LAS OPCIONES, NO FUNCIONA, CREO QUE HAY QUE PONER CLASE A TODAS LAS ETIQUETAS OPTION*/
/*mirar en task una pagina que lo explica*/

.hide{
    display: none;
}

.show{
    display: block;
}

/*------------------------SEE  ALL DOGS-----------------------------------------------------*/

.btn__pages{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--yellow-color);
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 50px;
}

.btn__pages button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    cursor: pointer;
    background-color: none;
    border: none;
    border-radius: 4px;
}

.btn__pages button a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: black;
}

.btn__pages button:hover{
    transform: scale(1.2);
}